---
import Layout from '../layouts/Layout.astro';
import Challenges from '../components/Challenges.astro'
---

<Layout title="Css daily challenge.">
	<section class="title">
		<h1>CSS daily challenge</h1>
		<p>I will be doing a css challenge daily.</p>
	</section>
	<Challenges />
</Layout>

<style>
	.title {
		display: grid;
		color: rgb(255, 255, 255);
		font-size: xx-large;
		text-align: center;
	}
</style>