---
import One from './Days/001.astro'
import Two from './Days/002.astro'
import Three from './Days/003.astro'
import Four from './Days/003.astro'
import Five from './Days/003.astro'
import Six from './Days/003.astro'
import Seven from './Days/003.astro'
import Eight from './Days/003.astro'
---
<section class="challenges">
    <One />
    <Two />
    <Three />
    <!-- <Four />
    <Five />
    <Six />
    <Seven />
    <Eight /> -->
</section>
<style>
    .challenges {
        width: 90vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 20px;
    }
</style>